@media only screen and (max-width: 1000px) {
    .programsHead {
        font-size: 30px!important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .programs{
      font-size: 20px !important;
    }
    .reportsHead {
        font-size: 30px!important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .reports{
      font-size: 20px !important;
    }
    .container-fluid{
      margin-left: 0px;
    }
    .progs{
      width: 100px;
      height: 100px;
    }
    .imer{
      font-size:30px !important;
      text-align: center !important;
      justify-content: center !important;
    }

    #mySidenav a {
      width: 120px !important;
      border-radius: 5px 5px 5px 5px !important; /* Rounded corners on the top right and bottom right side */
      margin-top: 20px !important;
      /*left: calc(50% - 60px) !important;*/
    }

    #mySidenav a:hover {
        right: 0% !important; /* On mouse-over, make the elements appear as they should */
    }

    /* The about link: 20px from the top with a green background */
    #about {
        left: calc(50% - 245px) !important;
        top: 0px!important;
        background-color: #d1726c;

    }

    #blog {
        left: calc(50% - 120px) !important;
          top: 0px!important;
        background-color: rgb(214, 203, 105); /* Blue */
    }

    #projects {
          left: calc(50% + 5px) !important;
            top: 0px!important;
        background-color: rgb(115, 190, 117); /* Red */
    }

    #contact {
          left: calc(50% + 130px) !important;
            top: 0px!important;
        background-color: #555 /* Light Black */
    }
    .Middle2{
          text-align: center;
          margin-top: 120px !important;
      }

}

@media only screen and (max-width: 500px) {
  #about {
      left: calc(50% - 120px) !important;
      top: 65px!important;
      background-color: #d1726c;

  }
  #contact {
        left: calc(50% + 5px) !important;
        top: 65px!important;
      background-color: #555 /* Light Black */
  }
  .Middle2{
        text-align: center;
        margin-top: 190px !important;
    }
}
.imer{
  font-size:3vw;
}
html{
  overflow-x: hidden;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -10px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 120px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px 0px 0px 5px; /* Rounded corners on the top right and bottom right side */
    z-index:1;
}

#mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
    background-color: #d1726c; /* Red */

}

#blog {
    top: 80px;
    background-color: rgb(214, 203, 105); /* Blue */
}

#projects {
    top: 140px;
    background-color: rgb(115, 190, 117);

}

#contact {
    top: 200px;
    background-color: rgb(81, 146, 199); /* Blue */
}

.BackInBlack{
  background-color: rgb(34, 34, 34);
}

#icons {
    position: relative;
}

#main {

    background-color: rgba(26, 22, 22, 0.5);
    height: 100vh;
    padding-top: 200px;
}

.Middle{
      width:100%;
      /*top:40%;*/
      margin: 0 auto;
      text-align: center;
  }
.mainName{
    color: white;
    /* font-family: 'Comfortaa', cursive; */
    font-size: 8vw;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 50px;
    width: 100%;
}
.UppermainName{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 7vw;
}

.descrip {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 2vw;
    font-style: italic;
    color: #d1726c;
}
.Middle2{
      text-align: center;
      margin-top: 100px;
  }


.fa-lg{
  margin-right: 1.5vw;
}
a { color: inherit; }
a:hover {
    color: #d1726c;

}
.reps:hover{
    color: rgb(214, 203, 105);
}

.progs:hover{
    color: rgb(115, 190, 117);
}

h3{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  width: 60%;
  margin: 0 auto 40px auto;
  padding: 0;
}
span:hover{
  -webkit-transition: transform 0.2s ease-in-out;
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
}
span{
  -webkit-transition: transform 0.2s ease-in-out;
}
.reportsHead{
  text-align: center;
   color: rgb(214, 203, 105);
   font-family: 'Montserrat', sans-serif;
   font-size: 3vw;
}
.reports{
  text-align: center;
   color:white;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5vw;
}

.programsHead{
  text-align: center;
   color: rgb(115, 190, 117);
   font-family: 'Montserrat', sans-serif;
   font-size: 3vw;
}
.programs{
  text-align: center;
   color:white;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5vw;
}
.aboutHeader{
  text-align: center;
   color:white;
   font-family: 'Montserrat', sans-serif;
   font-size: 3vw;
   margin-left: 90px;
   margin-right: 90px;
}
.AboutHeaders{
    color: rgb(81, 146, 199);
}
.about{
  text-align: left;
   color:white;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.3em;
   width: 80%;
   margin: 0 auto;
   text-align: justify;
}

.about h2 {
    text-align: center;
    padding-top: 30px;
}

#cv {
    width: 50%;
    margin: 100px auto;
}

#cv p {
    color: white;
    font-style: italic;
}

.anim, .anim svg {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  .anim path {
    stroke-width: 0.5;
    width: 80%;
  }

  .FPGAFlexBox{
      margin-top: 20px;
    display: flex; /* or inline-flex */
    justify-content: center;
    align-content: space-between;
      align-items: stretch;
  }

  .card{
      margin-left: 20px;
      margin-right: 20px;
      
  }

  .MainProjectTitles{
    text-align: center;
    padding-top: 30px;
  }