@media screen and (max-width: 830px) {
  .column {
      width: 100% !important;
  }
}
@media screen and (max-width: 430px) {
  #tolerance {
    position: absolute !important;
    left: -9999px !important;
  }
}

input[type=text] {
  width: 100px !important;
    padding: 16px 20px !important;
    border: none !important;
    border-radius: 4px !important;
    background-color: #181818 !important;
  text-align: center !important;
  color: white !important;
  font-family: 'Comfortaa', cursive !important;
  font-size: 2em !important;
}


body {
  margin: 0px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
}

.colored{
  width: 40px;
  height: 130px;
  display: inline-block;
  margin: 10px;
}

svg {
   padding: 00px;
}


html{
  background-color: #222222;
}

.pick{
  margin-top: 5px;
  height: 20px;
  width: 50px;
  animation-duration: 0.5s;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}