input[type=text] {
  width: 60% ;
    padding: 16px 20px ;
    border: none ;
    border-radius: 4px ;
    background-color: #181818 ;
  text-align: center ;
  color: white ;
  font-family: 'Comfortaa', cursive ;
  font-size: 2em ;
}
#buttonId{
  width: 10% !important;
  right: 0px;
  height: 60px;
  top: 300px;
  position: absolute;
  padding: 16px 20px ;
    border: none ;
    border-radius: 4px ;
    background-color: #181818 ;
  text-align: center ;
  color: white ;
  font-family: 'Comfortaa', cursive ;
  font-size: 2em ;
}

#two{
  width: 10% !important;
  right: 0px;
  height: 30px;
  top: 30px;
  position: absolute;
}

#four{
  width: 10% !important;
  right: 0px;
  height: 30px;
  top: 120px;
  position: absolute;
}

#three{
  width: 10% !important;
  right: 0px;
  height: 30px;
  top: 210px;
  position: absolute;
}


html{
  background-color: #222222;
}

canvas{
  width: 60% !important;
  height: 30vw !important;
  margin-left: 20%;
}
